.articles-filter {
    position: relative;

    &__search-container {
        position: relative;
        display: inline-block;
        width: calc(100% - 30px);
        position: relative;
    }

    &__search-button {
        outline: 0;
        position: absolute;
        top: 12px;
        right: 10px;
        background: transparent;
        border: none;
        color: var(--white);
    }

    &__filter-button {
        outline: 0;
        margin-left: 10px;
        display: inline-block;
        background: transparent;
        border: none;
        color: var(--white);
        transition: .3s;

        &:hover,
        &--active {
            color: var(--secondary);
        }
    }
    
    &__filter {
        position: absolute;
        display: none;
        z-index: 1000;
        right: 0;
        top: 50px;
        padding-bottom: 10px;
        width: 90vw;
        max-width: 600px;
        background: var(--black);

        &--active {
            display: block;
        }
    }

    &__filter-search {
        display: none;
    }

    &__categories-container {
        padding: 15px;
    }

    &__categories-title {
        color: var(--white);
        font-weight: bold;
        font-size: 18px;
    }

    &__set-categories-button {
        float: right;
        display: block;
        padding: 10px 20px;
        font-weight: 600;
        border: none;
        color: var(--black);
        background: var(--secondary);
        margin-top: 10px;
        transition: .3s;

        &:hover {
            color: var(--secondary);
            background: var(--black);
        }
    }

    @media screen and (max-width: 576px) {
        &__filter {
            top: 20px;
            right: -10px;
        }

        &__search-container {
            display: none;
        }

        &__filter-search {
            display: block;
        }

        &__filter-button {
            float: right;
        }
    }
}