.article-editor-title {
    outline: 0;
    width: 100%;
    font-weight: 600;
    font-size: 30px;
    border: none;
    color: var(--white);
    height: 50px;
    resize: none;
    word-break: break-all;
    background: transparent;
}