@use "../../../styles/variables";

.admin-articles-table {
    &__image-section {
        width: 100px;
    }

    &__title-section {
        width: calc(100% - 200px);
    }

    &__actions-section {
        text-align: center;
        width: 100px;
    }

    & .custom-table__footer .pagination {
        background: variables.$black;
    }

    @media screen and (max-width: 576px) {
        & .custom-table {
            &__body-row {
                &:nth-child(1) {
                    padding: 15px 0;
                }

                padding: 25px 0;
            }
        }

        &__image-section {
            display: none;
        }

        &__title-section {
            width: calc(100% - 100px);
        }
    }
}