@use "../variables";

.articles-container {
    &__header {
        padding: 10px 0;
        align-items: center;
        background: variables.$primary;
    }

    &__title {
        margin: 0;
    }
}