/*<--------------->*/
    /* CUSTOM TABLE */
/*<--------------->*/

.custom-table {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background: variables.$primary;

        &-title {
            color: white;
            font-weight: bold;
            font-size: 18px;
        }
    }

    &__body {
        background: variables.$primary;

        &-label {
            color: white;
            font-weight: bold;
            font-size: 14px;
        }

        &-row {
            position: relative;
            display: flex;
            align-items: center;

            &:nth-child(2n) {
                background: variables.$black;
            }
        }
    }

    &__article {
        &__cover {
            width: 90px;
            height: 60px;
            object-fit: cover;
        }

        &__title {
            cursor: pointer;
            margin-left: 15px;
            color: white;
            font-weight: bold;
            font-size: 16px;
            transition: .3s;

            &:hover {
                text-decoration: none;
                color: variables.$secondary;
            }
        }

        &__data {
            color: white;
            font-weight: bold;
            font-size: 16px;
        }
    }

    &__not-found {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        font-size: 25px;
        font-weight: bold;
        color: variables.$secondary;
        background: variables.$primary;
        background: linear-gradient(variables.$primary, variables.$black);
    }

    &__button {
        outline: 0 !important;
        background: transparent;
        border: none;
        transition: .3s;

        &--edit {
            color: variables.$success;

            &:hover {
                color: darken($color: variables.$success, $amount: 20);
            }
        }

        &--delete {
            color: variables.$danger;

            &:hover {
                color: darken($color: variables.$danger, $amount: 20);
            }
        }
    }
}