.admin-skill-list-skill-card {
    display: block;

    &__title {
        padding: 20px 0;
    }

    &__title-active {
        color: var(--secondary);
    }

    &__project-list {
        display: none;

        &--active {
            display: block;
        }
    }

    &__skill-actions {
        float: right;
        margin-right: 10px;
    }
}