@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;600;700&display=swap');

:root {
    --body-bg: #2f2f2f;

    --primary: #1A1A1A;
    --secondary: #8BD1FF;

    --black: #0f0f0f;
    --white: #fff;
    --gray-light: #ccc;
    --danger: #FF4D4D;
    --success: #3AE374;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--body-bg);
}

.body {
    min-height: calc(100vh - 210px);
}

.container-fluid {
    padding: 0 30px;
    
    & .row {
        margin-left: 0;
        margin-right: 0;
    }
}

.custom-button {
    position: relative;
    outline: 0 !important;
    border: none;
    padding: 10px 20px;
    font-weight: bold;

    &--save {
        color: var(--black);
        background: var(--secondary);
    }

    &--cancel {
        margin-left: 10px;
        color: var(--white);
        background: var(--danger);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: .3);
        opacity: 0;
        transition: .3s;
    }

    &:hover::before {
        opacity: 1;
    }

    & .fas {
        margin-right: 5px;
    }
}

@media screen and (max-width: 768px) {
    .container-fluid {
        padding: 0;
    }
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #b1bfab;
    background: #282c34;
}

.hljs-comment,
.hljs-quote {
    color: #5c6370;
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e06c75;
}

.hljs-literal {
    color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
    color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
    color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #61aeee;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}