@use "../../styles/variables";

.comment {
    margin-top: 25px;
    width: 100%;
    padding: 20px;
    background: variables.$black;

    &__name {
        color: white;
        font-size: 18px;
        font-weight: bold;
    }

    &__content {
        color: white;
        margin-bottom: 0;
    }
}