.project {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 250px;

    &::after {
        content: 'View Project';
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
        font-weight: bold;
        background: rgba($color: #000000, $alpha: .6);
        opacity: 0;
        transition: .3s;
    }

    &:hover::after {
        opacity: 1;
    }

    &__image {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 1s;

        &--active {
            opacity: 1;
        }
    }
}