@use "../../../../styles/variables";

.statistics-articles {
    display: flex;

    &__card {
        width: calc(50% - 40px);
        background: variables.$primary;

        &:nth-child(1) { margin-right: 40px; }

        &-content {
            padding: 15px;
            padding-bottom: 0;
        }

        &-label {
            display: block;
            color: white;
        }

        &-views {
            display: block;
            color: white;
            font-weight: bold;
            font-size: 20px;

            &--loading {
                display: block;
                width: 100px;
                height: 30px;
                background: variables.$black;
            }
        }

        &-cover {
            margin-top: 10px;
            object-fit: cover;
            width: 100%;
            height: 200px;

            &--loading {
                display: block;
                margin-top: 10px;
                width: 100%;
                height: 200px;
                background: variables.$black;
            }
        }

        &-title {
            color: white;
            font-weight: 600;
            font-size: 22px;
            margin: 20px 15px;

            &--loading {
                margin: 20px 15px;
                display: block;
                width: 80%;
                height: 35px;
                background: variables.$black;
            }
        }
    }

    &__articles-list {
        &-item {
            position: relative;
            display: flex;
            align-items: center;
            padding: 5px 0;

            &:nth-child(2n+1) {
                background: variables.$black;
            }
        }

        &-cover {
            width: 80px;
            height: 50px;
            object-fit: cover;
        }

        &-title {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            font-size: 16px;
        }

        &-views {
            position: absolute;
            right: 15px;
            color: white;
            font-weight: bold;
            font-size: 18px;
        }

        @media screen and (max-width: 576px) {
            &-item {
                padding: 20px 0;
            }

            &-cover {
                display: none;
            }
        }
    }

    &__card-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background: variables.$black;

        &-text {
            cursor: pointer;
            color: variables.$secondary;
            font-weight: bold;
        }
    }

    @media screen and (max-width: 992px) {
        flex-direction: column;

        &__card {
            width: 100%;
            margin: 0;
            
            &:nth-child(1) { margin-bottom: 40px; }
        }
    }
}

.holi-4 {
    display: inline-block;
    width: 80px;
    height: 50px;
    background: variables.$primary;
}

.holi-5 {
    display: inline-block;
    width: 50%;
    height: 30px;
    margin-left: 15px;
    background: variables.$primary;
}

.holi-6 {
    display: inline-block;
    position: absolute;
    right: 15px;
    width: 20%;
    height: 35px;
    margin-left: 15px;
    background: variables.$primary;
}

.statistics-articles__articles-list-item:nth-child(2n) {
    .holi-4,
    .holi-5,
    .holi-6 {
        background: variables.$black;
    }
}