.projects-project-list {
    margin-top: 20px;

    &__wrapper {
        padding: 20px 0;
        background: var(--primary);
    }

    &__title {
        font-weight: bold;
        font-size: 1.5em;
        color: var(--white);
    }
    
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--secondary);
        font-weight: bold;
        font-size: 1.2em;
        height: 300px;
        width: 100%;
    }
}