.contact-me-form {
    &__title {
       color: var(--white);
       font-size: 1.5em;
       margin: 15px 0;
       font-weight: bold;
    }

    &__message {
        color: var(--white);
        padding: 20px;
        margin: 15px 0;
        font-weight: 600;
        border: solid 1px var(--white);
        border-radius: 3px;
        background: var(--black);

        &--error {
            color: var(--danger);
            border-color: var(--danger);
        }

        &--success {
            color: var(--secondary);
            border-color: var(--secondary);
        }
    }

    &__submit-button {
        width: 100%;
        margin-top: 15px;
    }

    &__loader {
        padding: 100px 0;
        text-align: center;
        color: var(--secondary);
    }
}