.main-footer {
    background: var(--primary);
    padding: 30px 10px;

    &__brand {
        display: flex;
        align-items: center;

        &:hover {
            text-decoration: none;
        }
    }

    &__title {
        font-family: 'Pacifico', cursive;
        font-size: 1.25em;
        margin: 0;
        margin-left: 10px;
        color: var(--white);
    }

    &__subtitle {
        color: var(--secondary);
        font-size: 1.25em;
        font-weight: 600;
        margin-top: 1.5em;
    }

    &__icon {
        color: var(--secondary);
    }

    &__text {
        color: var(--white);
        margin-left: 10px;
        font-weight: bold;
    }

    &__description {
        color: var(--white);
        font-weight: bold;
        line-height: 1.8em;
    }

    &__subscription-form-loader {
        margin-top: 40px;
        text-align: center;
        color: var(--secondary);
    }

    @media screen and (min-width: 576px) {
        padding: 30px;

        &__subtitle {
            margin-top: 0;
        }
    }
}