@use "../../styles//variables";

.comment-list {
    background: variables.$primary;
    margin-top: 30px;
    padding: 30px 20px;

    &__title {
        color: white;
        font-weight: bold;
        font-size: var(--subtitle);
    }

    &__load-more {
        display: none;
        background: transparent;
        color: variables.$secondary;
        border: none;
        font-weight: bold;
        padding: 20px;
        text-transform: uppercase;
        transition: .3s;

        &:focus {
            outline: 0;
        }

        &:hover {
            color: white;
        }

        &--active {
            display: block;
        }
    }
}