@use "../../../../styles/variables";

.statistics-articles-table {
    &__back-button {
        outline: none !important;
        color: white;
        padding: 10px;
        margin-right: 5px;
        background: transparent;
        font-size: 14px;
        border: none;
        transition: .3s;

        &:hover {
            color: variables.$secondary;
        }
    }

    & .custom-table {
        &__body-row:nth-child(1) {
            padding: 15px 0;
        }  
    }

    &__article-section {
        width: calc(100% - 360px);
    }

    &__views-section {
        text-align: center;
        width: 120px;
    }

    &__sort-label {
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: 14px;
        transition: .3s;

        &--active,
        &:hover {
            color: variables.$secondary;
        }
    }

    &__hidden-label {
        display: none;
        color: white;
        font-weight: bold;
        margin-right: 15px;
        font-size: 14px;
    }

    &__toggle-button {
        outline: 0 !important;
        position: absolute;
        display: none;
        top: 15px;
        right: 10px;
        color: white;
        font-size: 20px;
        background: transparent;
        border: none;
        transition: .3s;

        &:hover {
            color: variables.$secondary;
        }
    }

    &__footer .pagination {
        background: variables.$black;
    }

    @media screen and (max-width: 792px) {
        .custom-table {
            &__body-row {
                padding: 25px 0;
            }
    
            &__article__cover {
                display: none;
            }
        }
    }

    @media screen and (max-width: 600px) {
        & .custom-table {
            &__body-row {
                flex-direction: column;
                height: 60px;
                padding: 0;
                overflow: hidden;
                transition: .3s;

                &:nth-child(1) {
                    display: none;
                }

                &--active {
                    height: 222px;
        
                    &__toggle-button {
                        top: 12px;
                    }
                }
            }

            &__article__cover {
                display: inline-block;
            }
        }

        &__article-section {
            width: 100%;
        }

        &__views-section {
            text-align: left;
            padding: 15px;
            width: 100%;
        }

        &__toggle-button {
            display: block;
        }

        &__hidden-label {
            display: inline;
        }
    }
}